@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-size: 6em;
    font-variant: small-caps;
}
header p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
header a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
header a:hover {
    text-decoration: underline;
}
section {
    font-size: 2em;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
}
.container1 {
    background-image: url(../imagens/background001.jpg);
    margin: 0px;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.conteudo1 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.568);
}
.container2 {
    background-image: url(../imagens/background002.jpg);
    margin: 0px;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.conteudo2 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}